.rent-otimo{
  background-color: green;
  color: green;
}

.rent-boa{
  background-color: yellow;
  color: yellow;
}

.rent-ruim{
  background-color: red;
  color: red;
}

.rent-branco{
  color: white;
}